/* base class */

/*清除浮动*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: inline-block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* flex */
.flex {
  display: flex;
}

.flex-around {
  justify-content: space-around;
}

.flex-between {
  justify-content: space-between;
}