.user-register {
  width: 388px;
  margin: 0 auto;
  flex: 1;

  .user-register-title {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .user-register-input {
    width: 100%;
    display: flex;
    margin-bottom: 24px;

    input {
      flex: 1;
      height: 40px;
      color: rgba(0, 0, 0, .65);
    }

    button {
      width: 25%;
      margin-left: 20px;
    }
  }

  .user-register-bottom {
    display: flex;
    justify-content: space-between;

    button {
      width: 50%;
      height: 40px;
      color: #fff;
      background-color: #1890ff;
      border-color: #1890ff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, .12);
      box-shadow: 0 2px 0 rgba(0, 0, 0, .045);
      cursor: pointer;
    }

    a {
      height: 40px;
      line-height: 40px;
      color: #1890ff;
    }
  }
}